@*@model Car*@
@using System;
@using System.Globalization;
<h2>@Model.currCategory</h2>
<form method="post" asp-controller="Account" asp-action="LogOut">
    <input type="submit" value="Выход" />
</form>
@*@if (Model.currCategory == "Electric Cars" || "Fuel Cars")
    {*@
@*<div class="col-lg-3">

        <img class="img-thumbnail" src="@Model.img" alt="@Model.name" />
        <h2>@Model.name</h2>
        <p>Price: @Model.price.ToString("c", new CultureInfo("en-US"))</p>
        <p><a class="btn btn-warning" asp-controller="shopCart" asp-action="addToCart" asp-route-id="@Model.id">Add to cart</a></p>
    </div>*@
@*}
    else
    {*@



@if (Model.currCategory == "Electric Cars" || Model.currCategory == "Fuel Cars")
{
    <div class="row mt-5 mb-2">
    @foreach (Car car in Model.allCars)
    {
        @Html.Partial("AllCars", car)

    }
        </div>
}

else
{
    <div class="mainDivSlider">
        <div class="slider">
            <div class="slider__wrapper">


                @{
                    @foreach (Car car in Model.allCars)
                    {
                        <div class="slider__item">
                            <div style="height: 250px; ">
                                <a asp-controller="Cars" asp-action="CarDetails" asp-route-id="@car.id"><img class="img-thumbnail" src="@car.img"></a>
                            </div>
                        </div>
                    }
                    
                }
            </div>
            <a class="slider__control slider__control_left" href="#" role="button"></a>
            <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>
    </div>
@*}*@
                    
}

@*</div>*@


